<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.AdminMapper">
	<select id="selectAdmin" parameterType="com.gdu.cast.vo.Admin" resultType="com.gdu.cast.vo.Admin">
		SELECT
			admin_id adminId, admin_name adminName
		FROM admin
		WHERE admin_id = #{adminId}
		AND admin_pw = password(#{adminPw})
	</select>
	
	<select id="selectNewCustomer" resultType="Map">
		SELECT (SELECT COUNT(*) FROM customer WHERE SUBSTR(create_date, 1, 10) = SUBSTR(now(), 1, 10)) AS count, 
		COUNT(*) AS TotalCount
		FROM customer
	</select>
	
	<select id="selectNewTraveler" resultType="Map">
		SELECT (SELECT COUNT(*) FROM traveler WHERE SUBSTR(create_date, 1, 10) = SUBSTR(now(), 1, 10)) AS count, 
		COUNT(*) AS TotalCount
		FROM traveler
	</select>
	
	<select id="selectNewCeo" resultType="Map">
		SELECT (SELECT COUNT(*) FROM ceo WHERE SUBSTR(create_date, 1, 10) = SUBSTR(now(), 1, 10)) AS count, 
		COUNT(*) AS TotalCount
		FROM ceo
	</select>
	
	<select id="selectNewNotQnaComment" parameterType="com.gdu.cast.vo.QnaComment" resultType="int">
		SELECT COUNT(*)
		FROM qna
		WHERE qna_id NOT IN (SELECT qna_id FROM qna_comment)
	</select>
	
	<select id="selectOrderCount" parameterType="int" resultType="int">
		SELECT SUM(c.count) as SUM
		FROM (SELECT
				COUNT(*) as count
			  FROM experience_order
				UNION ALL
			  SELECT
				COUNT(*) as count
			  FROM room_order
			 ) as c
	</select>
	
	<!-- 관리자 페이지 연간 금액 -->
	<select id="selectTotalPay" resultType="int">
		SELECT SUM(subscription_pay) sum
		FROM subscription_amount
		WHERE SUBSTR(create_date, 1, 4) = SUBSTR(now(), 1, 4)
	</select>
</mapper>