<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.AdminMapper">
	<select id="selectAdmin" parameterType="com.gdu.cast.vo.Admin" resultType="com.gdu.cast.vo.Admin">
		SELECT
			admin_id adminId, admin_name adminName
		FROM admin
		WHERE admin_id = #{adminId}
		AND admin_pw = password(#{adminPw})
	</select>
	
	<select id="selectNewCustomer" parameterType="com.gdu.cast.vo.Customer" resultType="int">
		SELECT COUNT(*)
		FROM customer 
		WHERE SUBSTR(create_date, 0, 10) = SUBSTR(now(), 0, 10)
	</select>
	
	<select id="selectNewTraveler" parameterType="com.gdu.cast.vo.Traveler" resultType="int">
		SELECT COUNT(*)
		FROM traveler 
		WHERE SUBSTR(create_date, 0, 10) = SUBSTR(now(), 0, 10)
	</select>
	
	<select id="selectNewCeo" parameterType="com.gdu.cast.vo.Ceo" resultType="int">
		SELECT COUNT(*)
		FROM ceo
		WHERE SUBSTR(create_date, 0, 10) = SUBSTR(now(), 0, 10)
	</select>
	
	<select id="selectQnaList" parameterType="Map" resultType="com.gdu.cast.vo.Qna">
		SELECT
			qna_id qnaId, qna_title qnaTitle, customer_id customerId, qna_content qnaContent,
			qna_category qnaCategory, qna_secret qnaSecret, create_date createDate, update_date updateDate
		FROM qna
		ORDER BY create_date DESC
		LIMIT #{beginRow}, #{ROW_PER_PAGE}
	</select>
		
	
	<select id="selectQnaTotalCount" resultType="int">
	SELECT COUNT(*) 
	FROM qna
	</select>
</mapper>