<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.CeoMapper">
	<!-- 회원가입 -->
	<insert id="insertCeo" parameterType="com.gdu.cast.vo.Ceo">
	INSERT ceo(
		ceo_name,
		ceo_id,
		ceo_pw,
		ceo_email,
		ceo_license,
		ceo_phonenum,
		ceo_jumin,
		create_date,
		update_date
	) VALUES (
		#{ceoName},
		#{ceoId},
		password(#{ceoPw}),
		#{ceoEmail},
		#{ceoLicense},
		#{ceoPhonenum},
		#{ceoJumin},
		now(),
		now()
		
	)
	</insert>
	
	<!-- 로그인 -->
	<select id="loginCeo" parameterType="com.gdu.cast.vo.Ceo" resultType="com.gdu.cast.vo.Ceo">
		SELECT
			ceo_id ceoId
		FROM ceo
		WHERE ceo_id = #{ceoId}
		AND ceo_pw = password(#{ceoPw})
	</select>
	
	<!-- 내정보 -->
	<select id="selectCeo" parameterType="com.gdu.cast.vo.Ceo" resultType="com.gdu.cast.vo.Ceo">
		SELECT 
			ceo_name ceoName,
			ceo_id ceoId,
			ceo_email ceoEmail,
			ceo_license ceoLicense,
			ceo_phonenum ceoPhonenum,
			create_date createDate
		FROM ceo
		WHERE ceo_id = #{ceoId} 
	</select>
	
	<!-- 내정보 수정 -->
	<update id="updateCeo" parameterType="com.gdu.cast.vo.Ceo" >
		UPDATE ceo SET 
			ceo_id = #{ceoId},
			ceo_email = #{ceoEmail},
			ceo_license = #{ceoLicense},
			ceo_phonenum = #{ceoPhonenum},
			update_date = now()
		WHERE ceo_id = #{ceoId}
	</update>
	
	<!-- 비밀번호 변경 -->
	<update id="updateCeoPw" parameterType="com.gdu.cast.vo.Ceo">
		UPDATE ceo SET
			ceo_pw = password(#{newCeoPw}), update_date = now()
		WHERE ceo_id = #{ceoId} AND ceo_pw = password(#{ceoPw})
	</update>
	
	<!-- 체험리스트 -->
	<select id="selectExperienceIndex" parameterType="Map" resultType="com.gdu.cast.vo.Experience">
		SELECT
			experience_name experienceName,
			experience_price experiencePrice,
			create_date createDate
      FROM experience
      WHERE ceo_id = #{ceoId}
	  ORDER BY create_date DESC
      LIMIT 0, 3
	</select>
</mapper>

















