<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.CustomerChartMapper">

   <select id="selectTotalInOfMonthByYear" parameterType="map" resultType="java.util.Map">
      SELECT
         SUM(CASE WHEN MONTH(ep.create_date)=1 THEN ep.experience_payment_money END) january,
         SUM(CASE WHEN MONTH(ep.create_date)=2 THEN ep.experience_payment_money END) february,
         SUM(CASE WHEN MONTH(ep.create_date)=3 THEN ep.experience_payment_money END) march,
         SUM(CASE WHEN MONTH(ep.create_date)=4 THEN ep.experience_payment_money END) april,
         SUM(CASE WHEN MONTH(ep.create_date)=5 THEN ep.experience_payment_money END) may,
         SUM(CASE WHEN MONTH(ep.create_date)=6 THEN ep.experience_payment_money END) june,
         SUM(CASE WHEN MONTH(ep.create_date)=7 THEN ep.experience_payment_money END) july,
         SUM(CASE WHEN MONTH(ep.create_date)=8 THEN ep.experience_payment_money END) august,
         SUM(CASE WHEN MONTH(ep.create_date)=9 THEN ep.experience_payment_money END) september,
         SUM(CASE WHEN MONTH(ep.create_date)=10 THEN ep.experience_payment_money END) october,
         SUM(CASE WHEN MONTH(ep.create_date)=11 THEN ep.experience_payment_money END) november,
         SUM(CASE WHEN MONTH(ep.create_date)=12 THEN ep.experience_payment_money END) december
      FROM experience_payment ep inner join experience_order eo
      ON ep.experience_order_id = eo.experience_order_id
      WHERE YEAR(ep.create_date) = #{year} AND eo.customer_id = #{customerId}
   </select>

	<select id="selectHotelTotalInOfMonthByYear" parameterType="map" resultType="java.util.Map">
      SELECT
         SUM(CASE WHEN MONTH(rp.create_date)=1 THEN rp.room_payment_money END) january,
         SUM(CASE WHEN MONTH(rp.create_date)=2 THEN rp.room_payment_money END) february,
         SUM(CASE WHEN MONTH(rp.create_date)=3 THEN rp.room_payment_money END) march,
         SUM(CASE WHEN MONTH(rp.create_date)=4 THEN rp.room_payment_money END) april,
         SUM(CASE WHEN MONTH(rp.create_date)=5 THEN rp.room_payment_money END) may,
         SUM(CASE WHEN MONTH(rp.create_date)=6 THEN rp.room_payment_money END) june,
         SUM(CASE WHEN MONTH(rp.create_date)=7 THEN rp.room_payment_money END) july,
         SUM(CASE WHEN MONTH(rp.create_date)=8 THEN rp.room_payment_money END) august,
         SUM(CASE WHEN MONTH(rp.create_date)=9 THEN rp.room_payment_money END) september,
         SUM(CASE WHEN MONTH(rp.create_date)=10 THEN rp.room_payment_money END) october,
         SUM(CASE WHEN MONTH(rp.create_date)=11 THEN rp.room_payment_money END) november,
         SUM(CASE WHEN MONTH(rp.create_date)=12 THEN rp.room_payment_money END) december
      FROM room_payment rp inner join room_order ro
      ON rp.room_order_id = ro.room_order_id
      WHERE YEAR(rp.create_date) = #{year} AND ro.customer_id = #{customerId}
   </select>



   <select id="selectExperienceMonthByYear" parameterType="map" resultType="java.util.Map">
      SELECT
         SUM(CASE WHEN MONTH(ep.create_date)=1 THEN ep.experience_payment_money END) january,
         SUM(CASE WHEN MONTH(ep.create_date)=2 THEN ep.experience_payment_money END) february,
         SUM(CASE WHEN MONTH(ep.create_date)=3 THEN ep.experience_payment_money END) march,
         SUM(CASE WHEN MONTH(ep.create_date)=4 THEN ep.experience_payment_money END) april,
         SUM(CASE WHEN MONTH(ep.create_date)=5 THEN ep.experience_payment_money END) may,
         SUM(CASE WHEN MONTH(ep.create_date)=6 THEN ep.experience_payment_money END) june,
         SUM(CASE WHEN MONTH(ep.create_date)=7 THEN ep.experience_payment_money END) july,
         SUM(CASE WHEN MONTH(ep.create_date)=8 THEN ep.experience_payment_money END) august,
         SUM(CASE WHEN MONTH(ep.create_date)=9 THEN ep.experience_payment_money END) september,
         SUM(CASE WHEN MONTH(ep.create_date)=10 THEN ep.experience_payment_money END) october,
         SUM(CASE WHEN MONTH(ep.create_date)=11 THEN ep.experience_payment_money END) november,
         SUM(CASE WHEN MONTH(ep.create_date)=12 THEN ep.experience_payment_money END) december
      FROM experience_payment ep inner join experience_order eo
      ON ep.experience_order_id = eo.experience_order_id
      WHERE YEAR(ep.create_date) = #{year} AND eo.customer_id = #{customerId} 
      AND ep.experience_payment_method = #{experiencePaymentMethod}
   </select>
   
   
      <select id="selectRoomMonthByYear" parameterType="map" resultType="java.util.Map">
      SELECT
         SUM(CASE WHEN MONTH(rp.create_date)=1 THEN rp.room_payment_money END) january,
         SUM(CASE WHEN MONTH(rp.create_date)=2 THEN rp.room_payment_money END) february,
         SUM(CASE WHEN MONTH(rp.create_date)=3 THEN rp.room_payment_money END) march,
         SUM(CASE WHEN MONTH(rp.create_date)=4 THEN rp.room_payment_money END) april,
         SUM(CASE WHEN MONTH(rp.create_date)=5 THEN rp.room_payment_money END) may,
         SUM(CASE WHEN MONTH(rp.create_date)=6 THEN rp.room_payment_money END) june,
         SUM(CASE WHEN MONTH(rp.create_date)=7 THEN rp.room_payment_money END) july,
         SUM(CASE WHEN MONTH(rp.create_date)=8 THEN rp.room_payment_money END) august,
         SUM(CASE WHEN MONTH(rp.create_date)=9 THEN rp.room_payment_money END) september,
         SUM(CASE WHEN MONTH(rp.create_date)=10 THEN rp.room_payment_money END) october,
         SUM(CASE WHEN MONTH(rp.create_date)=11 THEN rp.room_payment_money END) november,
         SUM(CASE WHEN MONTH(rp.create_date)=12 THEN rp.room_payment_money END) december
      FROM room_payment rp inner join room_order ro
      ON rp.room_order_id = ro.room_order_id
      WHERE YEAR(rp.create_date) = #{year} AND ro.customer_id = #{customerId}
      AND rp.room_payment_method = #{roomPaymentMethod}
   </select>
   
   
   

</mapper>