<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.ExhibitionMapper">
	<resultMap type="com.gdu.cast.vo.Exhibition" id="exhibitionAndAdmin">
		<id column="exhibition_no" property="exhibitionNo"></id>
		<result column="admin_id" property="adminId"></result>
		<result column="exhibition_title" property="exhibitionTitle"></result>
		<result column="exhibition_intro" property="exhibitionIntro"></result>
		<result column="exhibition_content" property="exhibitionContent"></result>
		<result column="create_date" property="createDate"></result>
		<result column="update_date" property="updateDate"></result>
		<collection property="admin" ofType="com.gdu.cast.vo.Admin">
			<result column="admin_name" property="adminName"></result>
		</collection>
		<collection property="exhibitionImage" ofType="com.gdu.cast.vo.ExhibitionImage">
			<result column="image_name" property="imageName"></result>
			<result column="image_ext" property="imageExt"></result>
		</collection>
	</resultMap>
	
	<!-- 전시소개 작성 -->
	<insert id="insertExhibition" parameterType="com.gdu.cast.vo.Exhibition">
		INSERT INTO exhibition(
			admin_id, exhibition_title, exhibition_intro, exhibition_content, create_date, update_date
		) VALUES(
			#{adminId}, #{exhibitionTitle}, #{exhibitionIntro}, #{exhibitionContent}, now(), now()
		)
        <selectKey resultType="int" keyProperty="exhibitionNo" order="AFTER">
            SELECT exhibition_no FROM exhibition ORDER BY create_date DESC LIMIT 0,1
        </selectKey> 
   </insert>
	
	<!-- 전시소개 목록 글갯수 -->
	<select id="selectExhibitionTotalCount" parameterType="String" resultType="int" >
		SELECT COUNT(*)
		FROM exhibition
		<where>
			<if test='searchTitle != null or searchTitle == "" '>
				exhibition_title LIKE '%${searchTitle}%'
			</if>
		</where>
	</select>
	
	<!-- 전시소개 목록 조회 -->
	<select id="selectExhibitionList" parameterType="Map" resultMap="exhibitionAndAdmin">
		SELECT e.exhibition_no, e.admin_id, e.exhibition_title, e.create_date, a.admin_name
		FROM exhibition e JOIN admin a ON e.admin_id = a.admin_id
		<where>
			<if test='searchTitle != null or searchTitle == ""'>
				e.exhibition_title LIKE '%${searchTitle}%'
			</if>
		</where>
		ORDER BY e.create_date DESC
		LIMIT #{beginRow}, #{ROW_PER_PAGE}
	</select>
	
	<!-- 전시소개 상세보기 -->
	<select id="selectExhibitionOne" parameterType="int" resultMap="exhibitionAndAdmin">
		SELECT  e.exhibition_no, e.admin_id, e.exhibition_title, e.exhibition_intro, e.exhibition_content, e.create_date, a.admin_name, ei.image_name, ei.image_ext
		FROM exhibition e LEFT JOIN admin a ON e.admin_id = a.admin_id
			 LEFT JOIN exhibition_image ei ON e.exhibition_no = ei.exhibition_no
		WHERE e.exhibition_no = #{exhibitionNo}
	</select>
	
	<!-- 전시소개 수정 -->
	<update id="updateExhibition" parameterType="com.gdu.cast.vo.Exhibition">
		UPDATE exhibition SET
			exhibition_title = #{exhibitionTitle}, exhibition_intro = #{exhibitionIntro}, exhibition_content = #{exhibitionContent}, update_date = now()
		WHERE exhibition_no = #{exhibitionNo}
	</update>
	
	<!-- 전시소개 삭제 -->
	<delete id="deleteExhibition" parameterType="com.gdu.cast.vo.Exhibition">
		DELETE FROM exhibition
		WHERE exhibition_no = #{exhibitionNo} AND admin_id = #{adminId}
	</delete>
	
	<!-- 메인페이지 전시소개 목록 2개 조회 -->
	<select id="selectExhibitionList1" resultMap="exhibitionAndAdmin">
		SELECT e.exhibition_no, e.exhibition_title, e.exhibition_intro, ei.image_name, ei.image_ext
		FROM exhibition e LEFT JOIN exhibition_image ei ON e.exhibition_no = ei.exhibition_no
		ORDER BY e.create_date DESC
		LIMIT 0, 6
	</select>
	
	<!-- 전시소개 사진 추가 -->
	<insert id="insertExhibitionImage">
		INSERT INTO exhibition_image(
			exhibition_no,
			image_name,
			image_ext,
			image_size,
			create_date,
			update_date
		) VALUES(
			#{exhibitionNo},
			#{imageName},
			#{imageExt},
			#{imageSize},
			NOW(),
			NOW()
		)
	</insert>
</mapper>