<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.ExperienceSelectMapper">

	<!-- 여행작가 체험 추천 추가 -->
	<insert id="insertExperienceSelect" parameterType="com.gdu.cast.vo.ExperienceSelect">
		INSERT INTO experience_select(
			traveler_id,
			experience_id,
			experience_select_title,
			experience_select_content,
			create_date,
			update_date
		) VALUES (
			#{travelerId},
			#{experienceId},
			#{experienceSelectTitle},
			#{experienceSelectContent},		
			NOW(),
			NOW()
		)
		<selectKey resultType="int" order="BEFORE" keyProperty="experienceSelectId">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<!-- 여행작가 체험 추천 삭제 -->
	<delete id="deleteExperienceSelect" parameterType="com.gdu.cast.vo.ExperienceSelect">
		DELETE FROM experience_select
		WHERE experience_select_id = #{experienceSelectId}
		AND traveler_id = #{travelerId}
	</delete>
	
	<!-- 여행작가 체험 추천 수정 -->
	<update id="updateExperienceSelect" parameterType="com.gdu.cast.vo.ExperienceSelect">
		UPDATE experience_select
		SET 
			experience_select_title = #{experienceSelectTitle}, 
			experience_select_content = #{experienceSelectContent},
			update_date = NOW()
		WHERE 
			experience_select_id = #{experienceSelectId}
	</update>

	<!-- 자신이 쓴 체험 추천 상세보기 -->
	<select id="selectExperienceSelectOne" parameterType="com.gdu.cast.vo.ExperienceSelect" resultType="com.gdu.cast.vo.ExperienceSelect">
		SELECT 
			experience_select_id experienceSelectId,
			traveler_id travelerId,
			experience_id experienceId,
			experience_select_title experienceSelectTitle,
			experience_select_content experienceSelectContent,
			create_date createDate,
			update_date updateDate
		FROM experience_select
		WHERE experience_select_id = #{experienceSelectId}
		AND traveler_id = #{travelerId}
	</select>

	<!-- 자신이 쓴 체험 추천 글 수 -->
	<select id="selectExperienceTotalCount" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM experience_select
		WHERE traveler_id = #{travelerId}
	</select>

	<!-- 자신이 쓴 체험 추천 리스트 -->
	<select id="selectExperienceList" parameterType="Map" resultType="com.gdu.cast.vo.ExperienceSelect">
		SELECT 
			experience_select_id experienceSelectId,
			traveler_id travelerId,
			experience_select_title experienceSelectTitle,
			create_date createDate
		FROM experience_select
		WHERE traveler_id = #{travelerId}
		ORDER BY create_date DESC
		LIMIT #{beginRow}, #{ROW_PER_PAGE}
	</select>
</mapper>