<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.ExperienceWishListMapper">
		<!-- 체험 관심상품 등록 -->
	<insert id="insertExperienceWishList" parameterType="com.gdu.cast.vo.ExperienceWishList">
	INSERT INTO experience_wishlist(
		customer_id,
		experience_id,
		create_Date,
		update_Date
	) VALUES(
		#{customerId},
		#{experienceId},
		now(),
		now()	
	)
	</insert>

	<!-- 관심상품 이중 등록 방지 -->
	<select id="selectExperienceWishList" parameterType="String" resultType="com.gdu.cast.vo.ExperienceWishList">
		select experience_id experienceId
		FROM experience_wishlist
		where customer_id = #{customerId}
	</select>
	
	
</mapper>