<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.ExperienceSelectMapper">

	<!-- 자신이 등록한 체험 추천 리스트에 여행작가 이름 Join Join -->
	<resultMap type="com.gdu.cast.vo.ExperienceSelect" id="resultExperienceSelect">
		<id column="experience_select_id" property="experienceSelectId"></id>
		<result column="traveler_id" property="travelerId"></result>
		<result column="experience_id" property="experienceId"></result>
		<result column="experience_select_title" property="experienceSelectTitle"></result>
		<result column="experience_select_content" property="experienceSelectContent"></result>
		<result column="create_date" property="createDate"></result>
		<result column="update_date" property="updateDate"></result>
		<collection property="traveler" ofType="com.gdu.cast.vo.Traveler">
			<result column="traveler_name" property="travelerName"></result>
		</collection>
	</resultMap>

	<!-- 여행작가 체험 추천 추가 -->
	<insert id="insertExperienceSelect" parameterType="com.gdu.cast.vo.ExperienceSelect">
		INSERT INTO experience_select(
			traveler_id,
			experience_id,
			experience_select_title,
			experience_select_content,
			create_date,
			update_date
		) VALUES (
			#{travelerId},
			#{experienceId},
			#{experienceSelectTitle},
			#{experienceSelectContent},		
			NOW(),
			NOW()
		)
		<selectKey resultType="int" order="BEFORE" keyProperty="experienceSelectId">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<!-- 자신이 등록한 체험 추천 글 수 -->
	<select id="selectExperienceTotalCount" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM experience_select
		WHERE traveler_id = #{travelerId}
	</select>

	<!-- 자신이 등록한 체험 추천 리스트 -->
	<select id="selectExperienceList" parameterType="Map" resultMap="resultExperienceSelect">
		SELECT 
			e.experience_select_id,
			e.traveler_id,
			e.experience_select_title,
			t.traveler_name,
			e.create_date
		FROM traveler t INNER JOIN experience_select e
		ON t.traveler_id = e.traveler_id
		WHERE t.traveler_id = #{travelerId}
		ORDER BY e.create_date DESC
		LIMIT #{beginRow}, #{ROW_PER_PAGE}
	</select>
</mapper>