<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.HotelMapper">
	<!-- 호텔 추가 -->
	<insert id="insertHotel" parameterType="com.gdu.cast.vo.Hotel">
	INSERT INTO
		hotel(
			ceo_id,
			address_id,
			hotel_name,
			hotel_content,
			count_room,
			create_date,
			update_date
		) VALUES (
			#{ceo_id},
			#{address_id},
			#{hotel_name},
			#{},
			now(),
			now()
		)
	</insert>
	
	<!-- 주소 추가 -->
	<insert id="insertHotelAddress" parameterType="com.gdu.cast.vo.Address">
		INSERT INTO
			address (
				postcode,
				road_address,
				jibun_address,
				detail_address,
				extra_address
			) VALUES (
				#{postcode},
				#{roadAddress},
				#{jibunAddress},
				#{detailAddress},
				#{extraAddress}
			)
			<selectKey resultType="integer" keyProperty="addressId" order="AFTER">
				SELECT LAST_INSERT_ID()
			</selectKey>
	</insert>
</mapper>