<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.HotMapper">

	<resultMap type="com.gdu.cast.vo.Hotel" id="resultHotel">
		<result column="hotel_id" property="hotelId" />
		<result column="ceo_id" property="ceoId" />
		<result column="address_id" property="addressId" />
		<result column="hotel_name" property="hotelName" />
		<result column="hotel_content" property="hotelContent" />
		<result column="create_date" property="createDate" />
		<result column="update_date" property="updateDate" />
		<association property="address" javaType="com.gdu.cast.vo.Address">
			<result column="address_id" property="addressId" />
			<result column="postcode" property="postcode" />
			<result column="road_address" property="roadAddress" />
			<result column="jibun_address" property="jibunAddress" />
			<result column="detail_address" property="detailAddress" />
			<result column="extra_address" property="extraAddress" />
			<result column="lat" property="lat" />
			<result column="lng" property="lng" />
		</association>
	</resultMap>
	
	
	
	<!-- 호텔 추가 -->
	<insert id="insertHotel" parameterType="com.gdu.cast.vo.Hotel">
		INSERT INTO
			hotel (
			ceo_id,
			address_id,
			hotel_name,
			hotel_content,
			create_date,
			update_date
		) VALUES (
			#{ceoId},
			#{addressId},
			#{hotelName},
			#{hotelContent},
			now(),
			now()
		)
		<selectKey resultType="integer" keyProperty="hotelId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- 주소 추가 -->
	<insert id="insertHotelAddress" parameterType="com.gdu.cast.vo.Address">
		INSERT INTO
			address (
				postcode,
				road_address,
				jibun_address,
				detail_address,
				extra_address,
				lat,
				lng
			) VALUES (
				#{postcode},
				#{roadAddress},
				#{jibunAddress},
				#{detailAddress},
				#{extraAddress},
				#{lat},
				#{lng}
			)
			<selectKey resultType="integer" keyProperty="addressId" order="AFTER">
				SELECT LAST_INSERT_ID()
			</selectKey>
	</insert>
	
	<!-- 호텔 방 추가 -->
	<insert id="insertRoom" parameterType="com.gdu.cast.vo.Room">
		INSERT INTO
			room (
				hotel_id,
				room_name,
				room_content,
				room_count,
				room_startdate,
				room_enddate,
				room_price,
				create_date,
				update_date
			) VALUES (
				#{hotelId},
				#{roomName},
				#{roomContent},
				#{roomCount},
				#{roomStartdate},
				#{roomEnddate},
				#{roomPrice},
				NOW(),
				NOW()
			)
		<selectKey resultType="integer" keyProperty="roomId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- 호텔리스트 -->
	<select id="selectHotelList" parameterType="Map" resultType="com.gdu.cast.vo.Hotel">
		SELECT
			hotel_id hotelId,
			hotel_name hotelName,
			create_date createDate
		FROM hotel
		WHERE ceo_id = #{ceoId}
		ORDER BY create_date DESC
		LIMIT #{beginRow}, #{ROW_PER_PAGE}
	</select>
	
	<!-- 자신이 등록한 호텔 글 수 -->
	<select id="selectHotelTotalCount" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM hotel
		WHERE ceo_id = #{ceoId}
	</select>
	
	<!-- 호텔 상세보기 페이지 -->
	<select id="selectHotelOne" parameterType="int" resultMap="resultHotel">
		SELECT *
		FROM address a INNER JOIN hotel h
		ON a.address_id = h.address_id
		WHERE hotel_id = #{hotelId}
	</select>
	
	<!-- room_bedroom 추가 -->
	<insert id="insertRoomBedroom" parameterType="com.gdu.cast.vo.RoomBedroom">
		INSERT INTO
			room_bedroom (
				room_id,
				bed_count,
				bedroom_count,
				bathroom_count,
				create_date,
				update_date
			) VALUES (
				${roomId},
				${bedCount},
				${bedroomCount},
				${bathroomCount},
				NOW(),
				NOW()
			)
	</insert>
	
	<!-- room_convenience 추가 -->
	<insert id="insertRoomConvenience" parameterType="com.gdu.cast.vo.RoomConvenience">
		INSERT INTO
			room_convenience (
				room_id,
				stairs_threshold,
				toilet_handle,
				shower_stall_handle,
				create_date,
				update_date
			) VALUES (
				${roomId},
				'${stairsThreshold}',
				'${toiletHandle}',
				'${showerStallHandle}',
				NOW(),
				NOW()
			)
	</insert>
	
	<!-- room_filter 추가 -->
	<insert id="insertRoomFilter" parameterType="com.gdu.cast.vo.RoomFilter">
		INSERT INTO
			room_filter(
				room_id,
				internet,
				kitchen,
				boiler,
				aircon,
				washing_machine,
				breakfast,
				tv,
				hairdryer,
				bidet,
				create_date,
				update_date
			) VALUES (
				${roomId},
				'${internet}',
				'${kitchen}',
				'${boiler}',
				'${aircon}',
				'${washingMachine}',
				'${breakfast}',
				'${tv}',
				'${hairdryer}',
				'${bidet}',
				NOW(),
				NOW()
			)	
	</insert>
	
	<!-- 체험 등록 시 제일 최근 experienceId 조회 -->
	<select id="selectHotelId" parameterType="com.gdu.cast.vo.Hotel" resultType="int">
			SELECT hotel_id hotelId
			FROM hotel
			WHERE ceo_id = #{ceoId}
			ORDER BY create_date DESC
			LIMIT 0,1
	</select>
</mapper>