<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.HotMapper">
	<!-- 호텔 추가 -->
	<insert id="insertHotel" parameterType="com.gdu.cast.vo.Hotel">
		INSERT INTO
			hotel (
			ceo_id,
			address_id,
			hotel_name,
			hotel_content,
			count_room,
			create_date,
			update_date
		) VALUES (
			#{ceoId},
			#{addressId},
			#{hotelName},
			#{hotelContent},
			#{countRoom},
			now(),
			now()
		)
		<selectKey resultType="integer" keyProperty="hotelId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- 주소 추가 -->
	<insert id="insertHotelAddress" parameterType="com.gdu.cast.vo.Address">
		INSERT INTO
			address (
				postcode,
				road_address,
				jibun_address,
				detail_address,
				extra_address,
				lat,
				lng
			) VALUES (
				#{postcode},
				#{roadAddress},
				#{jibunAddress},
				#{detailAddress},
				#{extraAddress},
				#{lat},
				#{lng}
			)
			<selectKey resultType="integer" keyProperty="addressId" order="AFTER">
				SELECT LAST_INSERT_ID()
			</selectKey>
	</insert>
	
	<!-- 호텔 방 추가 -->
	<insert id="insertRoom" parameterType="com.gdu.cast.vo.Room">
		INSERT INTO
			room (
				hotel_id,
				room_name,
				room_content,
				room_startdate,
				room_enddate,
				room_remainder,
				room_price,
				create_date,
				update_date
			) VALUES (
				#{hotelId},
				#{roomName},
				#{roomContent}
				#{roomStartdate},
				#{roomEnddate},
				#{roomRemainder},
				#{roomPrice},
				NOW(),
				NOW()
			)
	</insert>
</mapper>













