<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.JoinRequestMapper">
	<!-- JoinTraveler와 Traveler vo를 합침 -->
	<!-- 
	<resultMap type="com.gdu.cast.vo.JoinTraveler" id="resultJoinTraveler">
		<id column="join_traveler_id" property="joinTravelerId"></id>
		<result column="traveler_id" property="travelerId"></result>
		<result column="admin_id" property="adminId"></result>
		<result column="active" property="active"></result>
		<result column="create_date" property="createDate"></result>
		<result column="update_date" property="updateDate"></result>
		<collection property="traveler" ofType="com.gdu.cast.vo.Traveler">
			<id column="traveler_id" property="travelerId"></id>
			<result column="traveler_name" property="travelerName"></result>
			<result column="traveler_phonenum" property="travelerPhoneNum"></result>
			<result column="traveler_email" property="travelerEmail"></result>
			<result column="traveler_license" property="travelerLicense"></result>
			<result column="traveler_career" property="travelerCareer"></result>
		</collection>
	</resultMap>
	
	 JoinCeo와 Ceo vo를 합침
	<resultMap type="com.gdu.cast.vo.JoinCeo" id="resultJoinCeo">
		<id column="join_ceo_id" property="joinCeoId"></id>
		<result column="ceo_id" property="ceoId"></result>
		<result column="admin_id" property="adminId"></result>
		<result column="active" property="active"></result>
		<result column="create_date" property="createDate"></result>
		<result column="update_date" property="updateDate"></result>
		<collection property="ceo" ofType="com.gdu.cast.vo.Ceo">
			<id column="ceo_id" property="ceoId"></id>
			<result column="ceo_name" property="ceoName"></result>
			<result column="ceo_phonenum" property="ceoPhonenum"></result>
			<result column="ceo_email" property="ceoEmail"></result>
			<result column="ceo_license" property="ceoLicense"></result>
		</collection>
	</resultMap>
	 -->
	<!-- 여행작가 회원가입 요청 추가 -->
	<insert id="insertTravelerJoinRequest" parameterType="String">
		INSERT INTO join_traveler(traveler_id, traveler_name, traveler_email, traveler_phonenum, traveler_license, traveler_career, create_date, update_date)
			SELECT t.traveler_id, t.traveler_name, t.traveler_phonenum, t.traveler_email, t.traveler_license, t.traveler_career, NOW(), NOW()
			FROM traveler t
			WHERE t.traveler_id = #{travelerId}
	</insert>
	
	<!-- 여행작가 회원가입 요청 중인 리스트 4개 -->
	<select id="selectTravelerJoinRequestList4" resultType="com.gdu.cast.vo.JoinTraveler">
		SELECT join_traveler_id joinTravelerId, traveler_id travelerId, create_date createDate
		FROM join_traveler
		WHERE active = '요청'
		ORDER BY create_date DESC
		LIMIT 0, 4
	</select>
	
	<!-- 여행작가 가입 요청 리스트 -->
	<select id="selectTravelerJoinRequestList" parameterType="Map" resultType="com.gdu.cast.vo.JoinTraveler">
		SELECT	join_traveler_id joinTravelerId, active active, traveler_id travelerId, traveler_name travelerName,
				traveler_phonenum travelerPhoneNum, traveler_email travelerEmail,
				traveler_license travelerLicense, traveler_career travelerCareer, create_date createDate
		FROM join_traveler
		<where>
			<choose>
				<when test='(state != null or state == "") and (searchTitle != null or searchTitle == "")'>
					active LIKE '%${state}%' AND traveler_id LIKE '%${searchTitle}%'
				</when>
				<when test='state != null or state == ""'>
					active LIKE '%${state}%'
				</when>
				<when test='searchTitle != null or searchTitle == ""'>
					traveler_id LIKE '%${searchTitle}%'
				</when>
			</choose>
		</where>
		ORDER BY create_date DESC
		LIMIT #{beginRow}, #{ROW_PER_PAGE}
	</select>
	
	<!-- 여행작가 가입 요청 리스트 글갯수 -->
	<select id="selectTravelerJoinRequestTotalCount" parameterType="String" resultType="int">
		SELECT	COUNT(*)
		FROM join_traveler
		<where>
			<choose>
				<when test='(state != null or state == "") and (searchTitle != null or searchTitle == "")'>
					active LIKE '%${state}%' AND traveler_id LIKE '%${searchTitle}%'
				</when>
				<when test='state != null or state == ""'>
					active LIKE '%${state}%'
				</when>
				<when test='searchTitle != null or searchTitle == ""'>
					traveler_id LIKE '%${searchTitle}%'
				</when>
			</choose>
		</where>
	</select>
	
	<!-- 여행작가 상세보기 -->
	<select id="selectTravelerOne" parameterType="int" resultType="com.gdu.cast.vo.JoinTraveler">
		SELECT
			join_traveler_id joinTravelerId, active active, traveler_id travelerId, traveler_name travelerName,
				traveler_phonenum travelerPhoneNum, traveler_email travelerEmail,
				traveler_license travelerLicense, traveler_career travelerCareer
		FROM join_traveler
		WHERE join_traveler_id = #{joinTravelerId}
	</select>
	
	<!-- 여행작가 가입 요청 처리 시 -->
	<update id="updateTravelerJoinRequest" parameterType="Map">
		UPDATE join_traveler SET
			active = #{state}, admin_id = #{adminId}, update_date = NOW()
		WHERE join_traveler_id = #{joinTravelerId}
	</update>
	
	<!-- 여행작가 로그인 시 가입 요청 결과 -->
	<select id="selectTravelerJoinRequestResult" parameterType="String" resultType="String">
		SELECT active active
		FROM join_traveler
		WHERE traveler_id = #{travelerId}
		ORDER BY create_date DESC
		LIMIT 0, 1
	</select>
	
	<!-- 여행작가 가입 거절시 요청 결과 삭제 -->
	<delete id="deleteTravelerJoinRequest" parameterType="String">
		DELETE FROM join_traveler
		WHERE traveler_id = #{travelerId}
	</delete>
	
	<!-- /////////////////// 사업자 \\\\\\\\\\\\\\\\\\\\-->
	
	<!-- 사업자 회원가입 요청 추가 -->
	<insert id="insertCeoJoinRequest" parameterType="com.gdu.cast.vo.JoinCeo">
		INSERT INTO join_ceo(ceo_id, ceo_name, ceo_email, ceo_phonenum, ceo_license, create_date, update_date)
			SELECT ceo_id, ceo_name, ceo_phonenum, ceo_email, ceo_license, NOW(), NOW()
			FROM ceo
			WHERE ceo_id = #{ceoId}
	</insert>
	
	<!-- 사업자 회원가입 요청 중인 리스트 4개 -->
	<select id="selectCeoJoinRequestList4" resultType="com.gdu.cast.vo.JoinCeo">
		SELECT join_ceo_id joinCeoId, ceo_id ceoId, create_date createDate
		FROM join_ceo
		WHERE active = '요청'
		ORDER BY create_date DESC
		LIMIT 0, 4
	</select>
	
	<!-- 사업자 가입 요청 리스트 -->
	<select id="selectCeoJoinRequestList" parameterType="Map" resultType="com.gdu.cast.vo.JoinCeo">
		SELECT	join_ceo_id joinCeoId, active active, ceo_id ceoId, ceo_name ceoName,
				ceo_phonenum ceoPhonenum, ceo_email ceoEmail,
				ceo_license ceoLicense, create_date createDate
		FROM join_ceo
		<where>
			<choose>
				<when test='(state != null or state == "") and (searchTitle != null or searchTitle == "")'>
					active LIKE '%${state}%' AND c.ceo_id LIKE '%${searchTitle}%'
				</when>
				<when test='state != null or state == ""'>
					active LIKE '%${state}%'
				</when>
				<when test='searchTitle != null or searchTitle == ""'>
					ceo_id LIKE '%${searchTitle}%'
				</when>
			</choose>
		</where>
		ORDER BY create_date DESC
		LIMIT #{beginRow}, #{ROW_PER_PAGE}
	</select>
	
	<!-- 사업자 가입 요청 리스트 글갯수 -->
	<select id="selectCeoJoinRequestTotalCount" parameterType="String" resultType="int">
		SELECT	COUNT(*)
		FROM join_ceo
		<where>
			<choose>
				<when test='(state != null or state == "") and (searchTitle != null or searchTitle == "")'>
					active LIKE '%${state}%' AND ceo_id LIKE '%${searchTitle}%'
				</when>
				<when test='state != null or state == ""'>
					active LIKE '%${state}%'
				</when>
				<when test='searchTitle != null or searchTitle == ""'>
					ceo_id LIKE '%${searchTitle}%'
				</when>
			</choose>
		</where>
	</select>
	
	<!-- 사업자 상세보기 -->
	<select id="selectCeoOne" parameterType="int" resultType="com.gdu.cast.vo.JoinCeo">
		SELECT
			join_ceo_id joinCeoId, active active, ceo_id ceoId, 
			ceo_name ceoName, ceo_phonenum ceoPhonenum, 
			ceo_email ceoEmail, ceo_license ceoLicense
		FROM join_ceo
		WHERE join_ceo_id = #{joinCeoId}
	</select>
	
	<!-- 사업자 가입 요청 처리 시 -->
	<update id="updateCeoJoinRequest" parameterType="Map">
		UPDATE join_ceo SET
			active = #{state}, admin_id = #{adminId}, update_date = NOW()
		WHERE join_ceo_id = #{joinCeoId}
	</update>
	
	<!-- 사업자 로그인 시 가입 요청 결과 -->
	<select id="selectCeoJoinRequestResult" parameterType="String" resultType="String">
		SELECT active active
		FROM join_ceo
		WHERE ceo_id = #{ceoId}
		ORDER BY create_date DESC
		LIMIT 0, 1
	</select>
	
	<!-- 사업자 가입 거절시 요청 결과 삭제 -->
	<delete id="deleteCeoJoinRequest" parameterType="String">
		DELETE FROM join_ceo
		WHERE ceo_id = #{ceoId}
	</delete>
	
</mapper>