<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.KeywordMapper">
	<!-- 체험 키워드 등록 -->
	<insert id="insertExperienceKeyword" parameterType="Map">
		INSERT INTO keyword(
			hotel_experience_id, keyword_name, hotel_experience_from, create_date, update_date
		) VALUES(
			#{experienceId}, #{keyword}, "experience", now(), now()
		)
	</insert>
	
	<!-- 호텔 키워드 등록 -->
	<insert id="insertHotelKeyword" parameterType="Map">
		INSERT INTO keyword(
			hotel_experience_id, keyword_name, hotel_experience_from, create_date, update_date
		) VALUES(
			#{hotelId}, #{keyword}, "hotel", now(), now()
		)
	</insert>
	
	<select id="selectKeywordSelectTotalCount" parameterType="String" resultType="int">
		<if test='searchKeyword != null ||  searchKeyword !="" '>
			SELECT COUNT(*)
			FROM keyword
				<where>
						keyword_name LIKE '%${searchKeyword}%'
				</where>
		</if>
	</select>
	
	<!-- shop페이지에 키워드 출력 -->
	<select id="selectKeywordList" resultType="com.gdu.cast.vo.Keyword">
		SELECT DISTINCT keyword_name keywordName
		FROM keyword
	</select> 
</mapper>