<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.KeywordMapper">
	<insert id="insertExperienceKeyword" parameterType="Map">
		INSERT INTO keyword(
			hotel_experience_id,
			keyword_name,
			hotel_experience_from,
			create_date,
			update_date
		) VALUES(
			#{experienceId},
			#{keyword},
			"experience",
			now(),
			now()
		)
	</insert>
</mapper>