<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.MainSelectMapper">

	<!-- 여행작가 체험 추천 상세보기 -->
	<select id="selectExperienceSelectOne" parameterType="int" resultType="com.gdu.cast.vo.ExperienceSelect">
		SELECT 
			experience_select_id experienceSelectId,
			traveler_id travelerId,
			experience_id experienceId,
			experience_select_title experienceSelectTitle,
			experience_select_content experienceSelectContent,
			create_date createDate,
			update_date updateDate
		FROM experience_select
		WHERE experience_select_id = #{experienceSelectId}
	</select>

	<!-- 메인 페이지의 숙소 추천 상세보기 -->
	<select id="selectRoomSelectOne" parameterType="int" resultType="com.gdu.cast.vo.RoomSelect">
		SELECT 
			room_select_id roomSelectId,
			traveler_id travelerId,
			hotel_id hotelId,
			room_select_title roomSelectTitle,
			room_select_content roomSelectContent,
			create_date createDate,
			update_date updateDate
		FROM room_select
		WHERE room_select_id = #{roomSelectId}
	</select>
	
	<!-- 메인 페이지의 체험 추천 전체 글 수 -->
	<select id="selectExperienceTotalCount" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM experience_select
		<where>
			<if test='searchTitle != null or searchTitle == ""'>
			experience_select_title LIKE '%${searchTitle}%'
			</if>
		</where>
	</select>

	<!-- 메인 페이지의 체험 추천 리스트 -->
	<select id="selectExperienceList" parameterType="Map" resultType="com.gdu.cast.vo.ExperienceSelect">
		SELECT 
			experience_select_id experienceSelectId,
			traveler_id travelerId,
			experience_select_title experienceSelectTitle,
			create_date createDate
		FROM experience_select
		<where>
			<if test='searchTitle != null or searchTitle == ""'>
			experience_select_title LIKE '%${searchTitle}%'
			</if>
		</where>
		ORDER BY create_date DESC
		LIMIT #{beginRow}, #{ROW_PER_PAGE}
	</select>

	<!-- 메인 페이지의 숙소 추천 전체 글 수 -->
	<select id="selectRoomSelectTotalCount" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM room_select
		<where>
			<if test='searchTitle != null or searchTitle == ""'>
				room_select_title LIKE '%${searchTitle}%'
			</if>
		</where>
	</select>
	
	<!-- 메인 페이지의 숙소 추천 리스트 -->
	<select id="selectRoomSelectList" parameterType="Map" resultType="com.gdu.cast.vo.RoomSelect">
		SELECT 
			room_select_id roomSelectId,
			traveler_id travelerId,
			room_select_title roomSelectTitle,
			create_date createDate
		FROM room_select
		<where>
			<if test='searchTitle != null or searchTitle == ""'>
				room_select_title LIKE '%${searchTitle}%'
			</if>
		</where>
		ORDER BY create_date DESC
		LIMIT #{beginRow}, #{ROW_PER_PAGE}
	</select>
</mapper>