<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.MainSelectMapper">

	<!-- 메인 페이지 체험 추천 리스트에 여행작가 이름 및 이미지 Join -->
	<resultMap type="com.gdu.cast.vo.ExperienceSelect" id="resultExperienceSelect">
		<id column="experience_select_id" property="experienceSelectId"></id>
		<result column="traveler_id" property="travelerId"></result>
		<result column="experience_id" property="experienceId"></result>
		<result column="experience_select_title" property="experienceSelectTitle"></result>
		<result column="experience_select_content" property="experienceSelectContent"></result>
		<result column="create_date" property="createDate"></result>
		<result column="update_date" property="updateDate"></result>
		<collection property="traveler" ofType="com.gdu.cast.vo.Traveler">
			<result column="traveler_name" property="travelerName"></result>
		</collection>
	</resultMap>
	
	<!-- 메인 페이지 숙소 추천 리스트에 여행작가 이름 Join -->
	<resultMap type="com.gdu.cast.vo.RoomSelect" id="resultRoomSelect">
		<id column="room_select_id" property="roomSelectId"></id>
		<result column="traveler_id" property="travelerId"></result>
		<result column="hotel_id" property="hotelId"></result>
		<result column="room_select_title" property="roomSelectTitle"></result>
		<result column="room_select_content" property="roomSelectContent"></result>
		<result column="create_date" property="createDate"></result>
		<result column="update_date" property="updateDate"></result>
		<collection property="traveler" ofType="com.gdu.cast.vo.Traveler">
			<result column="traveler_name" property="travelerName"></result>
		</collection>
	</resultMap>
	
	
	<resultMap type="com.gdu.cast.vo.ThemeMiddle" id="resultThemeMiddle">
		<result column="theme_middle_id" property="themeMiddleId"></result>
		<result column="theme_big_id" property="themeBigId"></result>
		<result column="theme_middle_name" property="themeMiddleName"></result>
		<result column="create_date" property="createDate"></result>
		<result column="update_date" property="updateDate"></result>
		<association property="themeBig" javaType="com.gdu.cast.vo.ThemeBig">
			<result column="theme_big_id" property="themeBigId" />
			<result column="theme_big_name" property="themeBigName" />
			<result column="create_date" property="createDate" />
			<result column="update_date" property="updateDate" />
		</association>
	</resultMap>
	
	
	<resultMap type="com.gdu.cast.vo.ThemeSmallExperience" id="resultThemeSmallExperience">
		<result column="theme_small_id" property="themeSmallId" />
		<result column="experience_id" property="experienceId" />
		<result column="create_date" property="createDate" />
		<result column="update_date" property="updateDate" />
		<association property="experience" javaType="com.gdu.cast.vo.Experience">
			<result column="experience_id" property="experienceId" />
			<result column="ceo_id" property="ceoId" />
			<result column="address_id" property="addressId" />
			<result column="experience_name" property="experienceName" />
			<result column="experience_content" property="experienceContent" />
			<result column="experience_price" property="experiencePrice" />
			<result column="experience_startdate" property="experienceStartdate" />
			<result column="experience_enddate" property="experienceEnddate" />
			<result column="experience_person" property="experiencePerson" />
			<result column="create_date" property="createDate" />
			<result column="update_date" property="updateDate" />
		</association>
		<association property="themeSmall" javaType="com.gdu.cast.vo.ThemeSmall">
			<result column="theme_small_id" property="themeSmallId" />
			<result column="theme_middle_id" property="themeMiddleId" />
			<result column="theme_small_name" property="themeSmallName" />
			<result column="create_date" property="createDate" />
			<result column="update_date" property="updateDate" />
		</association>
	</resultMap>
	
	<resultMap type="com.gdu.cast.vo.ThemeSmallHotel" id="resultThemeSmallHotel">
		<result column="theme_small_id" property="themeSmallId" />
		<result column="hotel_id" property="hotelId" />
		<result column="create_date" property="createDate" />
		<result column="update_date" property="updateDate" />
		<association property="hotel" javaType="com.gdu.cast.vo.Hotel">
			<result column="hotel_id" property="hotelId" />
			<result column="ceo_id" property="ceoId" />
			<result column="address_id" property="addressId" />
			<result column="hotel_name" property="hotelName" />
			<result column="hotel_content" property="hotelContent" />
			<result column="create_date" property="createDate" />
			<result column="update_date" property="updateDate" />
		</association>
		<association property="themeSmall" javaType="com.gdu.cast.vo.ThemeSmall">
			<result column="theme_small_id" property="themeSmallId" />
			<result column="theme_middle_id" property="themeMiddleId" />
			<result column="theme_small_name" property="themeSmallName" />
			<result column="create_date" property="createDate" />
			<result column="update_date" property="updateDate" />
		</association>
	</resultMap>
	
	<!-- 메인 페이지의 체험 추천 삭제 -->
	<delete id="deleteExperienceSelectImage" parameterType="com.gdu.cast.vo.ExperienceSelectImage">
		DELETE FROM experience_select_image
		WHERE experience_select_id = #{experienceSelectId}
	</delete>
	
	<!-- 메인 페이지의 숙소 추천 삭제 -->
	<delete id="deleteRoomSelectImage" parameterType="com.gdu.cast.vo.RoomSelectImage">
		DELETE FROM room_select_image
		WHERE room_select_id = #{roomSelectId}
	</delete>
	
	<!-- 메인 페이지의 숙소 추천 이미지 -->
	<select id="selectRoomImageList" parameterType="com.gdu.cast.vo.RoomSelectImage" resultType="com.gdu.cast.vo.RoomSelectImage">
		SELECT 
			image_name imageName,
			image_ext imageExt,
			image_size imageSize
		FROM room_select_image
		WHERE room_select_id = #{roomSelectId}
	</select>
	
	<!-- 메인 페이지의 체험 추천 이미지 -->
	<select id="selectExperienceImageList" parameterType="com.gdu.cast.vo.ExperienceSelectImage" resultType="com.gdu.cast.vo.ExperienceSelectImage">
		SELECT 
			image_name imageName,
			image_ext imageExt,
			image_size imageSize
		FROM experience_select_image
		WHERE experience_select_id = #{experienceSelectId}
	</select>
	
	<!-- 메인 페이지의 체험 추천 삭제 -->
	<delete id="deleteExperienceSelect" parameterType="com.gdu.cast.vo.ExperienceSelect">
		DELETE FROM experience_select
		WHERE experience_select_id = #{experienceSelectId}
		AND traveler_id = #{travelerId}
	</delete>
	
	<!-- 메인 페이지의 체험 추천 수정 -->
	<update id="updateExperienceSelect" parameterType="com.gdu.cast.vo.ExperienceSelect">
		UPDATE experience_select
		SET 
			experience_select_title = #{experienceSelectTitle}, 
			experience_select_content = #{experienceSelectContent},
			update_date = NOW()
		WHERE 
			experience_select_id = #{experienceSelectId}
		AND traveler_id = #{travelerId}
	</update>
	
	<!-- 메인 페이지의 숙소 추천 삭제 -->
	<delete id="deleteRoomSelect" parameterType="com.gdu.cast.vo.RoomSelect">
		DELETE FROM room_select
		WHERE room_select_id = #{roomSelectId}
		AND traveler_id = #{travelerId}
	</delete>
	
	<!-- 메인 페이지의 숙소 추천 수정 -->
	<update id="updateRoomSelect" parameterType="com.gdu.cast.vo.RoomSelect">
		UPDATE room_select
		SET 
			room_select_title = #{roomSelectTitle}, 
			room_select_content = #{roomSelectContent},
			update_date = NOW()
		WHERE 
			room_select_id = #{roomSelectId}
		AND traveler_id = #{travelerId}
	</update>

	<!-- 메인 페이지의 체험 추천 상세보기 -->
	<select id="selectExperienceSelectOne" parameterType="int" resultMap="resultExperienceSelect">
		SELECT 
			e.experience_select_id,
			e.traveler_id,
			e.experience_id,
			e.experience_select_title,
			e.experience_select_content,
			t.traveler_name,
			e.create_date,
			e.update_date
		FROM traveler t INNER JOIN experience_select e 
		ON t.traveler_id = e.traveler_id
		WHERE e.experience_select_id = #{experienceSelectId}
	</select>

	<!-- 메인 페이지의 숙소 추천 상세보기 -->
	<select id="selectRoomSelectOne" parameterType="int" resultMap="resultRoomSelect">
		SELECT 
			r.room_select_id,
			r.traveler_id,
			r.hotel_id,
			r.room_select_title,
			r.room_select_content,
			t.traveler_name,
			r.create_date,
			r.update_date
		FROM traveler t INNER JOIN room_select r
		ON t.traveler_id = r.traveler_id
		WHERE r.room_select_id = #{roomSelectId}
	</select>
	
	<!-- 메인 페이지의 체험 추천 전체 글 수 -->
	<select id="selectExperienceTotalCount" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM experience_select
		<where>
			<if test='searchTitle != null or searchTitle == ""'>
			experience_select_title LIKE '%${searchTitle}%'
			</if>
		</where>
	</select>

	<!-- 메인 페이지의 체험 추천 리스트 -->
	<select id="selectExperienceList" parameterType="Map" resultMap="resultExperienceSelect">
		SELECT 
			e.experience_select_id,
			e.traveler_id,
			e.experience_select_title,
			t.traveler_name,
			e.create_date
		FROM traveler t INNER JOIN experience_select e
		ON t.traveler_id = e.traveler_id
		<where>
			<if test='searchTitle != null or searchTitle == ""'>
			experience_select_title LIKE '%${searchTitle}%'
			</if>
		</where>
		ORDER BY e.experience_select_id DESC
		LIMIT #{beginRow}, #{ROW_PER_PAGE}
	</select>

	<!-- 메인 페이지의 숙소 추천 전체 글 수 -->
	<select id="selectRoomSelectTotalCount" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM room_select
		<where>
			<if test='searchTitle != null or searchTitle == ""'>
				room_select_title LIKE '%${searchTitle}%'
			</if>
		</where>
	</select>
	
	<!-- 메인 페이지의 숙소 추천 리스트 -->
	<select id="selectRoomSelectList" parameterType="Map" resultMap="resultRoomSelect">
		SELECT 
			r.room_select_id,
			r.traveler_id,
			r.room_select_title,
			t.traveler_name,
			r.create_date
		FROM traveler t INNER JOIN room_select r
		ON t.traveler_id = r.traveler_id
		<where>
			<if test='searchTitle != null or searchTitle == ""'>
				room_select_title LIKE '%${searchTitle}%'
			</if>
		</where>
		ORDER BY r.room_select_id DESC
		LIMIT #{beginRow}, #{ROW_PER_PAGE}
	</select>
	
	<select id="selectThemeList" resultMap="resultThemeMiddle">
		SELECT big.theme_big_name, middle.theme_middle_name, big.theme_big_id, middle.theme_middle_id
		FROM theme_middle middle INNER JOIN theme_big big
		ON middle.theme_big_id = big.theme_big_id
	</select>
	
	<select id="selectThemeSmallList" resultType="com.gdu.cast.vo.ThemeSmall">
		SELECT theme_middle_id themeMiddleId, theme_small_id themeSmallId, theme_small_name themeSmallName
		FROM theme_small
		ORDER BY theme_middle_id ASC
	</select>
	
	<select id="selectThemeShopExperienceList" parameterType="String" resultMap="resultThemeSmallExperience">
		SELECT themeSmall.theme_small_name, experience.experience_name, experience.experience_content,
				 experience.experience_id, experience.experience_price
		FROM theme_small_experience themeSmallExperience INNER JOIN experience
		ON themeSmallExperience.experience_id = experience.experience_id
		INNER JOIN theme_small themeSmall
		ON themeSmallExperience.theme_small_id = themeSmall.theme_small_id
		LEFT JOIN keyword k
		ON experience.experience_id = k.hotel_experience_id
		<where>
			<choose>
				<when test='(searchKeyword != null or searchKeyword == "")'>
					themeSmall.theme_small_name LIKE '%${ThemeSmallName}%' AND k.keyword_name LIKE '%${searchKeyword}%' AND k.hotel_experience_from = 'experience'
				</when>
				<otherwise>
					themeSmall.theme_small_name LIKE '%${ThemeSmallName}%'
				</otherwise>
			</choose>
		</where>
	</select>
	
	<select id="selectThemeShopHotelList" parameterType="String" resultMap="resultThemeSmallHotel">
		SELECT themeSmall.theme_small_name, hotel.hotel_name, hotel.hotel_content, hotel.hotel_id
		FROM theme_small_hotel themeSmallHotel INNER JOIN hotel
		ON themeSmallHotel.hotel_id = hotel.hotel_id
		INNER JOIN theme_small themeSmall
		ON themeSmallHotel.theme_small_id = themeSmall.theme_small_id
		JOIN keyword k
		ON hotel.hotel_id = k.hotel_experience_id
		<where>
			<choose>
				<when test='(searchKeyword != null or searchKeyword == "")'>
					themeSmall.theme_small_name LIKE '%${ThemeSmallName}%' AND k.keyword_name LIKE '%${searchKeyword}%' AND k.hotel_experience_from = 'hotel'
				</when>
				<otherwise>
					themeSmall.theme_small_name LIKE '%${ThemeSmallName}%'
				</otherwise>
			</choose>
		</where>
	</select>
</mapper>