<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.RoomSelectMapper">

	<!-- 자신이 등록한 숙소 추천 리스트에 여행작가 이름 Join -->
	<resultMap type="com.gdu.cast.vo.RoomSelect" id="resultRoomSelect">
		<id column="room_select_id" property="roomSelectId"></id>
		<result column="traveler_id" property="travelerId"></result>
		<result column="hotel_id" property="hotelId"></result>
		<result column="room_select_title" property="roomSelectTitle"></result>
		<result column="room_select_content" property="roomSelectContent"></result>
		<result column="create_date" property="createDate"></result>
		<result column="update_date" property="updateDate"></result>
		<collection property="traveler" ofType="com.gdu.cast.vo.Traveler">
			<result column="traveler_name" property="travelerName"></result>
		</collection>
	</resultMap>
	
	<!-- 여행작가 숙소 추천 추가 -->
	<insert id="insertRoomSelect" parameterType="com.gdu.cast.vo.RoomSelect">
	<selectKey resultType="int" keyProperty="roomSelectId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO room_select(
			traveler_id,
			hotel_id,
			room_select_title,
			room_select_content,
			create_date,
			update_date
		) VALUES (
			#{travelerId},
			#{hotelId},
			#{roomSelectTitle},
			#{roomSelectContent},		
			NOW(),
			NOW()
		)
	</insert>
	
	<!-- 여행작가 숙소 추천 사진 추가 -->
	<insert id="insertRoomSelectImage" parameterType="com.gdu.cast.vo.RoomSelectImage">
		INSERT INTO room_select_image(
			room_select_id,
			image_name,
			image_ext,
			image_size,
			create_date,
			update_date
		) VALUES (
			#{roomSelectId},
			#{imageName},
			#{imageExt},
			#{imageSize},
			NOW(),
			NOW()
		)
		<selectKey resultType="int" keyProperty="roomSelectImageId" order="BEFORE">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- 자신이 등록한 숙소 추천 글 수 -->
	<select id="selectRoomSelectTotalCount" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM room_select
		WHERE traveler_id = #{travelerId}
	</select>
	
	<!-- 자신이 등록한 숙소 추천 리스트 -->
	<select id="selectRoomSelectList" parameterType="Map" resultMap="resultRoomSelect">
		SELECT 
			r.room_select_id,
			r.traveler_id,
			r.room_select_title,
			t.traveler_name,
			r.create_date
		FROM traveler t INNER JOIN room_select r
		ON t.traveler_id = r.traveler_id
		WHERE t.traveler_id = #{travelerId}
		ORDER BY r.room_select_id DESC
		LIMIT #{beginRow}, #{ROW_PER_PAGE}
	</select>
</mapper>