<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.RoomWishListMapper">

		<resultMap type="com.gdu.cast.vo.RoomWishList" id="resultRoomWishList">
		<result column="create_Date" property="createDate"></result>
		<result column="update_Date" property="updateDate"></result>
		<association property="hotel" javaType="com.gdu.cast.vo.Hotel">
			<result column="hotel_name" property="hotelName" />
			<result column="hotel_content" property="hotelContent" />
		</association>
	</resultMap>
	
	<!-- 숙소 관심상품 등록 -->
	<insert id="insertRoomWishList" parameterType="com.gdu.cast.vo.RoomWishList">
	INSERT INTO room_wishlist(
		customer_id,
		hotel_id,
		create_Date,
		update_Date
	) VALUES(
		#{customerId},
		#{hotelId},
		now(),
		now()
	)
	</insert>

	<!-- 체험 관심상품 이중 등록 방지 -->
	<select id="selectRoomWishList" parameterType="String" resultType="com.gdu.cast.vo.RoomWishList">
		select hotel_id hotelId
		FROM room_wishlist
		where customer_id = #{customerId}
	</select>
		
	<!-- 숙소 관심 상품 조회-->
	<select id="selectRoomWishListList" parameterType="map" resultMap="resultRoomWishList">
		SELECT
		 h.hotel_name,
		 h.hotel_content,
		 rw.create_date,
		 rw.update_date
		FROM room_wishlist rw inner join hotel h
		ON rw.hotel_id = h.hotel_id
		where customer_id = #{customerId}
		limit #{beginRow}, #{ROW_PER_PAGE}
	
	</select>
	
			<!--  숙소 관심 상품 페이징 -->
	<select id="selectRoomWishListTotalCount" parameterType="String" resultType="int">
	SELECT COUNT(*) 
	FROM room_wishlist
	WHERE customer_Id = #{customerId}
	
	</select>
	
	
</mapper>