<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.SettingCustomerMapper">
   <update id="updatePwCustomer" parameterType="com.gdu.cast.vo.Customer">   
      UPDATE Customer SET customer_pw = password(#{newCustomerPw}), update_date = now()
      WHERE Customer_id = #{customerId} AND customer_pw = password(#{customerPw})
   </update>
   
   <insert id="insertDeleteId" parameterType="com.gdu.cast.vo.Delete_Id">
   		INSERT INTO Delete_Id (id, create_date, update_date)
   		VALUES(#{customerId}, now(),now())
   	</insert>
   	
   	<delete id="deleteCustomer" parameterType="com.gdu.cast.vo.Customer">
		DELETE 
		FROM customer
		WHERE customer_id = #{customerId} AND customer_pw = password(#{customerPw})
	</delete>
	<!-- 로그인 기록 삭ㅈ제 -->
	   	<delete id="deleteCustomerLogin" parameterType="com.gdu.cast.vo.Customer_Login">
		DELETE 
		FROM customer_login
		WHERE customer_id = #{customerId}
	</delete>
</mapper>