<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.TravelerMapper">

	<!-- 여행작가 내정보 수정 -->
	<update id="updateTravelerMyInfo" parameterType="com.gdu.cast.vo.Traveler">
		UPDATE traveler
		SET
			traveler_pw = password(#{travelerPw}),
			traveler_name = #{travelerName},
			traveler_PhoneNum = #{travelerPhoneNum},
			traveler_email = #{travelerEmail},
			traveler_career = #{travelerCareer}
		WHERE traveler_id=#{travelerId}
	</update>

	<!-- 여행작가 프로필 -->
	<select id="selectTravelerMyInfo" parameterType="com.gdu.cast.vo.Traveler" resultType="com.gdu.cast.vo.Traveler">
		SELECT
			traveler_name travelerName,
			traveler_pw travelerPw,
			traveler_jumin travelerJumin,
			traveler_phonenum travelerPhoneNum,
			traveler_email travelerEmail,
			traveler_license travelerLicense,
			traveler_career travelerCareer
		FROM traveler
		WHERE traveler_id=#{travelerId}
	</select>
	
	<!-- 여행작가 로그인 -->
	<select id="selectTraveler" parameterType="com.gdu.cast.vo.Traveler" resultType="com.gdu.cast.vo.Traveler">
		SELECT
			traveler_id travelerId,
			traveler_pw travelerPw
		FROM traveler
		WHERE traveler_id=#{travelerId}
		AND traveler_pw=password(#{travelerPw})
	</select>

	<!-- 여행작가 회원가입 -->
	<insert id="insertTraveler" parameterType="com.gdu.cast.vo.Traveler">
		INSERT traveler (
			traveler_id,
			traveler_pw,
			traveler_name,
			traveler_jumin,
			traveler_phonenum,
			traveler_email,
			traveler_license,
			traveler_career,
			create_date,
			update_date
		) VALUES (
			#{travelerId},
			password(#{travelerPw}),
			#{travelerName},
			#{travelerJumin},
			#{travelerPhoneNum},
			#{travelerEmail},
			#{travelerLicense},
			#{travelerCareer},
			NOW(),
			NOW()
		)
	</insert>
</mapper>