<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cast.mapper.TravelerMapper">

	<!-- 여행작가 회원가입 -->
	<insert id="insertTraveler" parameterType="com.gdu.cast.vo.Traveler">
		INSERT traveler (
			traveler_id,
			traveler_pw,
			traveler_name,
			traveler_jumin,
			traveler_phonenum,
			traveler_email,
			traveler_license,
			traveler_career,
			create_date,
			update_date
		) VALUES (
			#{travelerId},
			#{travelerPw},
			#{travelerName},
			#{travelerJumin},
			#{travelerPhoneNum},
			#{travelerEmail},
			#{travelerLicense},
			#{travelerCareer},
			NOW(),
			NOW()
		)
		<selectKey resultType="String" order="AFTER" keyProperty="travelerId">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
</mapper>